<% form_for @artist do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
  <table class="list_table">
    <tr>
      <th>Album</th>
      <th>Year</th>
      <th>Condition</th>
    </tr>
    <% f.fields_for(:albums) do |album_form| %>
      <tr>
          <td><%= album_form.text_field :title %></td>
          <td><%= album_form.text_field :year %></td>
          <td><%= album_form.select :condition, Album::ALBUM_CONDITIONS %></td> 
      </tr>
    <% end %>
  </table>
  
	<%= button_to_add_an_album(f) %>

  <p><%= f.submit "Submit" %></p>
<% end %>
