<% form_for @artist do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
  <table id="albums" class="list_table">
    <tr>
      <th>Album</th>
      <th>Year</th>
      <th>Condition</th>
    </tr>
    <% f.fields_for(:albums) do |album_form| %>
			<%= render :partial => "album_form", :locals => {:album_form => album_form} %>
    <% end %>
  </table>
  
	<%= button_to_add_an_album(f) %>

  <p><%= f.submit "Submit" %></p>
<% end %>
