<% title "Artist" %>

<p>
  <strong>Name:</strong>
  <%=h @artist.name %>
</p>

<h2>Discography</h2>

<table class='list_table'>
  <tr>
    <th>Album</th>
    <th>Year</th>
    <th>Condition</th>
  </tr>
  <% for album in @artist.albums %>
    <tr>
      <td><%= link_to h(album.title), album %></td>
      <td><%=h album.year %></td>
      <td><%=h album.condition  %></td>
    </tr>
  <% end %>
</table>

<p>
  <%= link_to "Edit", edit_artist_path(@artist) %> |
  <%= link_to "Destroy", @artist, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", artists_path %>
</p>
