<% title(h(@artist.name)) %>

<table class='list_table'>
  <tr>
    <th>Cover Art</th>
    <th>Album</th>
    <th>Year</th>
    <th>Condition</th>
  </tr>
  <% for album in @artist.albums %>
    <tr>
      <td><%= image_tag album.display_image_url, width:"80", height:"50" %></td>
      <td><%= link_to h(album.title), album %></td>
      <td><%=h album.year %></td>
      <td><%=h album.condition  %></td>
    </tr>
  <% end %>
</table>

<p>
  <%= link_to "Edit", edit_artist_path(@artist) %> |
  <%= link_to "Destroy", @artist, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", artists_path %>
</p>
