<% form_for @album, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </p>
  <p>
    <%= f.label :condition %><br />
    <%= f.select :condition, Album::ALBUM_CONDITIONS %>
  </p>
  <p>
    <%= f.label :artist_id %><br />
    <%= f.select :artist_id, artist_options(@album.artist) %>
  </p>
  <p>
    <%= f.file_field :image %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
