<% form_for @album do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </p>
  <p>
    <%= f.label :condition %><br />
    <%= f.text_field :condition %>
  </p>
  <p>
    <%= f.label :artist_id %><br />
    <%= f.select :artist_id, artist_options(@album.artist) %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
