<% title "Manage your Albums" %>

<table class="list_table">
  <tr>
    <th>Album Art</th>
    <th>Title</th>
    <th>Year</th>
    <th>Condition</th>
    <th>Artist</th>
    <th></th>
    
  </tr>
  <% for album in @albums %>
    <tr>
      <td><%= link_to image_tag(album.display_image_url, width:"80", height:"50"), album %></td>
      <td><%= album_link(album) %></td>
      <td><%=h album.year %></td>
      <td><%=h album.condition %></td>
      <td><%= artist_link album.artist %></td>
      <td><%= link_to icon("modify"), edit_album_path(album) %>
          <%= link_to icon("delete"), album, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to icon("Add"), new_album_path %></p>
