<% title h @album.title %>

<p>
  <strong>Title:</strong>
  <%=h @album.title %>
</p>
<p>
  <strong>Year:</strong>
  <%=h @album.year %>
</p>
<p>
  <strong>Condition:</strong>
  <%=h @album.condition %>
</p>
<p>
  <strong>Artist:</strong>
  <%= artist_link(@album.artist) %>
</p>

<p>
  <%= link_to "Edit", edit_album_path(@album) %> |
  <%= link_to "Destroy", @album, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", albums_path %>
</p>
