
<%# content_for :head do %>
  <script type="text/javascript" src="/javascripts/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/thickbox.js"></script>
  <style type="text/css" media="all">@import "/stylesheets/thickbox.css";</style>
<%# end %>

<% title h(@album.title) %>

<% img_location = @album.display_image_url %>
<a href="<%= img_location %>" class='thickbox'>
  
<%= image_tag img_location, style:"float:left;", width:"150", height:"150" %>
</a>

<div>
	<p>
		<% unless @album.tracks.empty? %>
			<embed type="application/x-shockwave-flash" src="http://www.google.com/reader/ui/3247397568-audio-player.swf?audioUrl=<%= @album.tracks.first.audio.url %>" width="400" height="27" allowscriptaccess="never" quality="best" bgcolor="#ffffff" wmode="window" flashvars="playerMode=embedded" />
		<% else %>
			This album doesn´t have any tracks
		<% end %>
	</p>
  <p>
    <strong>Year:</strong>
    <%=h @album.year %>
  </p>
  <p>
    <strong>Condition:</strong>
    <%=h @album.condition %>
  </p>
  <p>
    <strong>Artist:</strong>
    <%= artist_link(@album.artist) %>
  </p>

  <p>
    <%= link_to "Edit", edit_album_path(@album) %> |
    <%= link_to "Destroy", @album, :confirm => 'Are you sure?', :method => :delete %> |
    <%= link_to "View All", albums_path %>
  </p>
</div>
<div style="clear:both;">
